/*Global*/
@font-face {
    font-family: 'kimhwanki';
    src: url('assets/font/KCC-Kimhwanki.woff2') format('woff2'), url('assets/font/KCC-Kimhwanki.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    /*Color*/
    --color-black: #000000;
    --color-dark-white: #bdbdbd;
    --color-light-grey: #7c7979;
    --color-grey: #616161;
    --color-light-white: #eeeeee;
    --color-white: #ffffff;
    --color-yellow: #fff7d1;
    --color-blue: #73aace;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*Size*/
    --size-border-radius: 4px;
    /* Annimation */
    --animation-duration: 300ms;
    --animation-duration-slow: 600ms;
}

/*Universal tags*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/*Typography*/

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}
/*Home*/
#home {
    background: url(assets/imgs/background.jpg) center/cover no-repeat;
    width: 100%;
    height: 985px;
    text-align: center;
}
.home__container {
    position: relative;
    width: 100%;
}
.home__logo__name {
    position: absolute;
    z-index: 2;
    height: 200px;
    top: 60px;
    left: 50%;
    transform: translate(-48%, 0);
}
.home__logo__greenball {
    transition: all var(--animation-duration-slow) ease-in-out;
    position: relative;
    z-index: 1;
    width: 300px;
    top: -300px;
}
.home__logo__greenball.active {
    top: -120px;
}

/*Home navbar*/
#navbar {
    z-index: 3;
    position: relative;
    top: -100px;
}
.navbar__logo__img {
    display: none;
    width: 58px;
    height: 58px;
}
.navbar__menu__item {
    font-family: 'kimhwanki';
    font-size: 42px;
    cursor: pointer;
}
.navbar__menu__item:hover {
    font-size: 48px;
    text-decoration: underline;
    text-underline-position: under;
}

#navbar.navbar--dark {
    background-color: #fbd2aa;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    transition: all var(--animation-duration) ease-in-out;
}
#navbar.navbar--dark .navbar__logo__img {
    display: block;
}
#navbar.navbar--dark .navbar__menu {
    display: flex;
}
#navbar.navbar--dark .navbar__menu__item {
    padding: 4px 6px;
    margin: 0 4px;
}
#navbar.navbar--dark .navbar__menu__item {
    font-size: 24px;
}
/*Section common*/
.section {
    text-align: center;
    padding: 16px;
}
#about {
    height: 700px;
}

#skills {
    background-color: var(--color-yellow);
    height: 700px;
}
#contact {
    background-color: var(--color-light-white);
    height: 225px;
}
#projects{
    height: 700px;
}

.contact__rights {
    font-size: var(--font-micro);
}
.contact__icon {
    width: 25px;
}
@media screen and (max-width: 768px) {
    .home__logo__greenball {
        width: 200px;
    }
    .home__logo__name {
        height: 80px;
        top: 20px;
    }
}
